body{
margin:0;
font-family:'Poppins', sans-serif;
background:#f4f4f4;
}

/* NAVBAR */

.navbar{
background:#1e1f26;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
flex-wrap:wrap;
}

.logo{
font-size:22px;
font-weight:bold;
}

.logo span{
color:red;
}

.nav-links a{
color:white;
text-decoration:none;
margin-left:20px;
font-size:14px;
}

.nav-links a:hover{
color:red;
}


/* HERO SECTION */

.hero{
display:flex;
align-items:center;
justify-content:center;
padding:60px;
background:#f2f2f2;
gap:40px;
flex-wrap:wrap;
}

.hero-img{
width:100%;
max-width:550px;
height:auto;
margin-right:40px;
border-radius:10px;
}

.content{
max-width:500px;
}

.content h1{
font-size:34px;
margin-bottom:20px;
color:#333;
}

.content h3{
margin-top:20px;
}

.content p{
color:#666;
line-height:1.6;
}


/* BUTTON */

button{
margin-top:20px;
padding:12px 30px;
background:#ff5c5c;
border:none;
color:white;
font-size:16px;
border-radius:25px;
cursor:pointer;
}

button:hover{
background:#ff3333;
}


/* PREDICTION  PAGE */

.container{
display:flex;
justify-content:center;
align-items:center;
padding:40px 20px;
}

.form-box{
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
width:100%;
max-width:350px;
text-align:center;
}

.form-box h2{
margin-bottom:25px;
color:#333;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}


/* RESULT PAGE */

.result-box{
max-width:400px;
}

.result-box h2{
font-size:22px;
color:#333;
}

.score{
font-size:20px;
font-weight:bold;
margin-top:10px;
color:#000;
}


/* MOBILE RESPONSIVE CODE */

@media (max-width:768px){

.navbar{
padding:15px 20px;
}

.nav-links{
margin-top:10px;
}

.hero{
flex-direction:column;
padding:30px 20px;
text-align:center;
}

.content h1{
font-size:26px;
}

.hero img{
max-width:300px;
}

}